@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5pt;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    header .container {
        margin: 0pt 16pt;
    }
    .filme-principal .descricao {
        width: 50%;
    }
}