@keyframes show-modal {
    from {
        opacity: 0;
        transform: translate3d(0, -100vh, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.modal-container {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999999;
    justify-content: center;
    display: none;
    padding: 64px 0;
    background: rgba(0, 0, 0, 0.9);
}
.modal-container.mostrar {
    display: flex;
    animation: show-modal 0.9s;
}
.modal-box {
    padding: 20pt 40px;
    width: 60%;
    min-height: 64px;
    position: relative;
    background: var(--preto);
}
.modal-box .title {
    margin-bottom: 4pt;
    text-transform: uppercase;
}
.modal-box .sub-title {
    margin-bottom: 12pt;
    font-style: italic;
    text-transform: capitalize;
}
.modal-box .descricao {
    margin-bottom: 12pt;
    text-align: justify;
    line-height: 1.8em;
}
.modal-box .descricao h4 {
    text-transform: uppercase;
}
.modal-box ol {
    margin-left: 16pt;
}
.modal-box li {
    margin: 0.9em 0;
    padding-left: 0.63rem;
}
.modal-box .fonte {
    font-style: italic;
    font-size: 11pt;
    color:rgba(200, 200, 200, 0.5);
}
.modal-box .fonte a {
    text-decoration: none;
    color:rgba(200, 200, 200, 0.5);
}
.modal-box button {
    background: rgba(100, 100, 100, 0.4);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 11pt;
    right: 11pt;
    cursor: pointer;
    font-size: 12pt;
    color: rgb(200, 50, 50);
}
.modal-box button:hover {
    background: rgba(100, 100, 100, 0.6);
}